@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-white font-sans;
}

.light {
  @apply bg-white text-dark;
}

/* Brutalist shadows and borders */
.brutalist-shadow {
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
  border: 4px solid black;
}

.brutalist-shadow:hover {
  transform: translate(4px, 4px);
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}